header{
  border-bottom: solid black 5px;
}
footer{
  border-top:solid black 5px;
  margin-top: 20px;
  padding-top: 20px;
}
.column-1{
  display: inline-block;
  width: 45%;
  margin-right: 10px;
}

.column-2{
  display:inline-block;
  width: 45%;
}

body {
  font-family: sans-serif;
  text-align: left;
  margin: 5%;
  background: url("https://stylishthemes.github.io/GitHub-Dark/images/octocat-spinner-smil.min.svg");
  background-repeat: no-repeat;
  background-position: center;
}